{
  "extends": ["standard", "plugin:react/recommended"],
  "rules": {
    "react/prop-types": 0,
    "comma-dangle": 0,
    "space-before-function-paren": 0
  },
  "plugins": ["jsx-a11y"],
  "globals": { "fetch": true },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
